config.stopBubbling=true
# 该配置声明这个配置文件是一个根配置文件，他会从该配置文件所在的目录开始扫描
lombok.equalsAndHashCode.callSuper=call
# 全局配置 equalsAndHashCode 的 callSuper 属性为true，这样就不用每个类都要去写了

# 为了解决Lombok 警告: Generating equals/hashCode implementation but without a call to superclass
# 当我们给一个继承了父类的子类上使用@Data @ToString @EqualsAndHashCode 注解时，IDE 会警告
# Generating equals/hashCode implementation but without a call to superclass
# 意思是，该注解在实现 ToString EqualsAndHashCode 方法时，不会考虑父类的属性，通过反编译的源码也是可以看到他是没有对父类的字段进行比较的
# https://www.cnblogs.com/zt007/p/13086238.html